.idea/
.vscode/
node_modules/
dependencies/nodejs/node_modules/
dist/
tmp/
temp/
.DS_Store
.env.development
.env.test
.env.json
doc/

logs
*.log
npm-debug.log*

coverage/
.nyc_output/

data/
packaged.yaml
env.json

*.iml
